/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Colors
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$white: #fff;
$lightgrey: #bec2c6;
$grey: #535e69;
$black: #202428;
$blacker: #000;

$green: #349e30;
$red: #af2d2d;
$orange: #ff9600;

$facebook: #3b5998;
$twitter: #4099ff;


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
MQs
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$ssmb: em(344);
$smb: em(400);
$mb: em(480);
$tn: em(640);
$sm: em(768);
$md: em(900);
$lg: em(1040);
$big: em(1280);
$max: em(1360);


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Typo
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$subcaption: rem(12);
$caption: rem(14);
$copy: rem(16);
$sublead: rem(19);
$lead: rem(22);
$subhead: rem(26);
$head: rem(29);
$display: rem(34);

$primaryFont: Helvetica, Arial, sans-serif;
$secondaryFont: Helvetica, Arial, sans-serif;


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Misc / Extends
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@lost flexbox flex;

img,
object,
embed {
    max-width: 100%;
}

::selection {
    /* background: $grey; */
}

::-moz-selection {
    /* background: $grey; */
}
