/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
FontFaces
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


/* @font-face {
    font-family: 'Fontname';
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src:
        url('../fonts/fontname.woff2') format('woff2'),
        url('../fonts/fontname.woff') format('woff');
} */

