header {
}

.header--inner {
    position: relative;
    max-width: $max;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include mq-min($sm) {
        flex-flow: row nowrap;
    }
}

.header--logo {
    img {
        display: block;
    }
}
