.ui-button {
    position: relative;
    display: inline-block;
    padding: .5rem .8rem .4rem;
    color: $red;
    background: $white;
    border: solid 1px $grey;
    text-align: center;
    transition: .1s;
    border-radius: 3px;
    font-size: $copy;
    cursor: pointer;
    font-family: $secondaryFont;
    font-weight: bold;

    &:hover,
    &:hover:focus {
        color: $white;
        background: $grey;
    }

    &:active {
        border: 1px solid $black;
    }

    &:focus {
        background: $lightgrey;
        outline: none;
    }
}

.ui-button__small {
    font-size: $caption;

    @include mq-min($sm) {
        padding: .25rem .5rem .3rem;
    }
}

.ui-button__large {
    font-size: $sublead;
    padding: .8rem 1.25rem .7rem;
}

.ui-button__xlarge {
    font-size: $lead;
    padding: .9rem 1.5rem .85rem;
}

.ui-button__blank {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    color: $black;
    -webkit-appearance: none;

    &:hover {
        color: $black;
        border: none;
    }

    &:active {
        color: $black;
        background: $white;
    }
}
