/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Misc
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.ui-fieldset {
    margin: 0 0 1rem;
    padding: 0;
    border: none;
}

.ui-label {
    display: block;
    margin-bottom: .1rem;
    padding-left: .1rem;
}

.ui-input {
    position: relative;
    display: block;
    width: 100%;
    padding: .65rem .65rem .55rem;
    font-size: fs(copy);
    color: $black;
    border: solid 1px $grey;
    background: $white;
    transition: .2s;
    margin-bottom: .25rem;
    border-radius: 0;
    -webkit-appearance: none;

    @include mq(min, tn) {
        font-size: fs(sublead);
        padding: .75rem .75rem .65rem;
    }

    @include mq(min, sm) {
        font-size: fs(lead);
    }

    &:focus {
        border: solid 1px $black;
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: $lightgrey;
    }

    &::-moz-placeholder {
        color: $lightgrey;
    }

    &:-ms-input-placeholder {
        color: $lightgrey;
    }

    &:-moz-placeholder {
        color: $lightgrey;
    }
}

.ui-input__small {
    padding: .35rem .35rem .25rem;
    font-size: fs(copy);
}

.ui-input__tiny {
    padding: .15rem .25rem;
    line-height: 1;
    font-weight: normal;
    font-size: fs(subcaption);
}

.ui-input__large {
    padding: .75rem .75rem .6rem;
    font-size: fs(copy);

    @include mq(min, tn) {
        padding: .85rem .85rem .7rem;
        font-size: fs(sublead);
    }

    @include mq(min, sm) {
        padding: 1rem 1rem .85rem;
        font-size: fs(lead);
    }
}

.ui-input__textarea {
    resize: vertical;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Status
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.ui-error,
.ui-warning,
.ui-success {
    font-weight: bold;
}

.ui-error {
    color: $red;
}

.ui-warning {
    color: $orange;
}

.ui-success {
    color: $green;
}


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Checkbox and Radio
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* https://codepen.io/jensimmons/pen/KKPzxJa */

$checkboxSize: 1.25rem;

@supports (-webkit-appearance: none) {
    .ui-checkbox,
    .ui-radio {
        position: relative;
        top: $checkboxSize / 4;
        -webkit-appearance: none;
        width: $checkboxSize;
        height: $checkboxSize;
        border: 1px solid $grey;

        &:focus {
            border: 1px solid $black;
            outline: none;
        }

        &:checked {
            position: relative;
            background: none; /* iOS Safari */

            &:after {
                position: absolute;
                content: 'L';
                font-family: 'Arial', sans-serif;
                font-weight: bold;
                font-size: $checkboxSize * .8;
                line-height: 0;
                top: 45%;
                left: 45%;
                transform: translateX(-50%) scaleX(-.75) rotate(-32.5deg);
            }
        }

        + .ui-label {
            display: inline-block;
        }
    }

    .ui-radio {
        border-radius: 50%;
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Select
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* https://codepen.io/chriscoyier/pen/zYYZaGP?editors=1100 */

@supports (-webkit-appearance: none) {
    .ui-select {
        position: relative;
        display: block;
        font-size: fs(copy);
        font-family: $primaryFont;
        color: $black;
        padding: .65rem .65rem .55rem;
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: 1px solid $grey;
        border-radius: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        // To change the icon color, replace the six chars after %23 with the new hex color
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23808080%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), $lightestyellow;
        background-repeat: no-repeat;
        background-position: right .7em top 50%;
        background-size: .65em auto;

        @include mq(min, tn) {
            font-size: fs(sublead);
            padding: .75rem .75rem .65rem;
        }

        &::-ms-expand {
            display: none;
        }

        &:focus {
            border-color: $black;
            color: $black;
            outline: none;
        }

        option {
            font-weight: normal;
        }
    }
}
